* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  transition: all 0.5s;
  color: #fff;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(140.97deg, #9aff9e 18.58%, #448dfb 149.12%);
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: fit-content;
}

.wrapper {
  width: fit-content;
  height: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 1rem;
  padding: 2rem 4rem;
  border-radius: 20px;
  font-size: 2.5rem;
  background-color: black;
}
@media screen and (max-width: 500px) {
  .wrapper {
    padding: 2rem 3rem;
  }
}
.buttons {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 1rem;
}
.text {
  font-size: 4rem;
}
button {
  font-weight: bold;
  font-size: 1.3rem;
  background-color: black;
  padding: 10px 38px;
  border: 1px solid white;
  border-radius: 28px;
  cursor: pointer;
  color: #fff;
  transition: all 0.2s ease;
  outline: 0;
  margin: 0.5rem;
}

button:active {
  background-color: #fff;
  color: #000;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 20pt;
}
.first {
  border: 2px solid white;
  margin-left: 10px;
  padding: 20px 20px;
  font-weight: 700;
}
a {
  color: black;
}
